/* ------ CSS RESET ------ */
/* Full CSS Reset here https://piccalil.li/blog/a-more-modern-css-reset/ by Andy Bell */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ------ CSS VARIABLES ------ */
:root {
    /* Colors */
    --clr-primary-300: hsl(192, 90%, 77%);
    --clr-primary-500: hsl(192, 54%, 64%);
    --clr-primary-600: hsl(192, 37%, 48%);
    --clr-secondary-300: hsl(268, 100%, 86%);
    --clr-secondary-500: hsl(268, 55%, 71%);
    --clr-secondary-600: hsl(268, 34%, 53%);
    --clr-neutral-300: hsl(240, 18%, 85%);
    --clr-neutral-600: hsl(240, 10%, 57%);
    --clr-neutral-900: hsl(240, 21%, 20%);
    --clr-white: hsl(0, 0%, 98%);
    /* Typography */
    --ff-primary: "Red Hat Display", sans-serif;
    --fs-400: .75rem;
    --fs-500: 1rem;
    --fs-600: 1.125rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 4rem;
    --fw-500: 500;
    --fw-900: 900;
    --ls-900: .25rem;
    /* Spacing */
    --space-4: .25rem;
    --space-8: .5rem;
    --space-16: 1rem;
    --space-24: 1.5rem;
    --space-32: 2rem;
    --space-40: 2.5rem;
    --space-48: 3rem;
    --space-56: 3.5rem;
    --space-64: 4rem;
    --space-72: 4.5rem;
    --space-80: 5rem;
    --space-112: 7rem;
}


/* ------ COMPONENT ------ */
.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-16);
}

.button {
    --_bg: var(--bg, var(--clr-primary-600));
    --_clr: var(--clr, var(--clr-white));
    background: var(--_bg);
    color: var(--_clr);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-weight: var(--fw-900);
    max-width: fit-content;
    padding: var(--space-16) var(--space-40);
    border-radius: var(--space-32);

    &:hover {
        --bg: var(--clr-primary-500);
    }

    & span {
        color: var(--clr-primary-300);
    }

}

.button--secondary {
    --bg: var(--clr-secondary-600);

    &:hover {
        --bg: var(--clr-secondary-500);
    }
}

/* ------ LAYOUT ------ */
body {
    background: var(--clr-white);
    color: var(--clr-neutral-600);
    font-family: var(--ff-primary);
    text-align: center;
    margin: 0;
}

.logo {
    padding-block-start: var(--space-48);

    & img {
        margin-inline: auto;
    }
}

.hero {
    padding-block-start: var(--space-64);
    padding-inline: var(--space-32);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-48);
}

.hero__copy-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
}

.hero__title {
    font-size: var(--fs-800);
    font-weight: var(--fw-900);
    color: var(--clr-neutral-900);
    margin: 0;
}

.hero__copy {
    margin: 0;
}

.features {
    padding-block: var(--space-64);
    padding-inline: var(--space-32);
}

.features__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-64);
}

.divider {
    font-weight: var(--fw-900);
    height: var(--space-56);
    width: var(--space-56);
    padding: var(--space-16);
    border: 1px solid var(--clr-neutral-300);
    border-radius: var(--space-112);
}

.features__img-wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: var(--space-16);

    & > img {
        border-radius: var(--space-16);
    }
}

.features__copy-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-32);
}

.features__headings {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
}

.features__pre-title {
    color: var(--clr-primary-600);
    font-size: var(--fs-400);
    font-weight: var(--fw-900);
    text-transform: uppercase;
    letter-spacing: var(--ls-900);
}

.features__title {
    color: var(--clr-neutral-900);
    font-size: var(--fs-700);
    font-weight: var(--fw-900);
}

.cta {
    padding-block: var(--space-64);
    padding-inline: var(--space-32);
    background-image: url(assets/mobile/image-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-image: fill 1 linear-gradient(hsla(192, 37%, 48%, 85%), hsla(192, 37%, 48%, 85%));
}

.cta__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-24);
}

.cta__title {
    color: var(--clr-white);
    font-size: var(--fs-700);
    font-weight: var(--fw-900);
}

.cta__copy {
    color: var(--clr-white);
}

